<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/logo') %>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta hide-element">
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      by
			<span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><% if (config.author) { %><%- config.author %><% } else { %><%- config.title %><% } %></span>
      </span>
      <%- partial('_partial/post/category') %>
      <%- partial('_partial/post/tag') %>
    </div>
  </header>
  <%- partial('_partial/post/gallery') %>
	<div class="featureText">
		<%- page.featureText %>
	</div>
	<div class="featureImage">
    <img itemprop="thumbnail" src="<%- page.thumbnail %>" />
	</div>
  <div itemprop="articleBody">
    <%- page.content %>
  </div>
	<%- partial('_partial/subscribe') %>
	<%- partial('_partial/post/other_articles') %>
</article>
<%- partial('_partial/comments') %>
