<head>
    <!-- so meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%- open_graph({
        image:          thumbnail(page),
        fb_app_id:      theme.open_graph.fb_app_id,
        fb_admins:      theme.open_graph.fb_admins,
        twitter_id:     theme.open_graph.twitter_id,
        google_plus:    theme.open_graph.google_plus,
        description:    page.metaDescription
    }) %>
    <% if (!is_post()) { %>
      <meta property="og:image" content="<%= url_for(theme.favicon.android.url) %>">
      <meta name="twitter:image" content="<%= url_for(theme.favicon.android.url) %>">
    <% } %>
    <%- meta(page) %>
    <link rel="canonical" href="<%= page_url(url) %>">
    <% if (theme.favicon) { %>
        <% if (theme.favicon.desktop) { %>
          <% if (theme.gravatar && theme.gravatar.email && theme.favicon.desktop.gravatar) { %>
              <link rel="shortcut icon" href="<%= gravatar(theme.gravatar.email, 16) %>">
          <% } else { %>
              <link rel="icon" href="<%= url_for(theme.favicon.desktop.url) %>">
          <% } %>
        <% } %>
        <% if (theme.favicon.android) { %>
          <% if (theme.gravatar && theme.gravatar.email && theme.favicon.android.gravatar) { %>
            <link rel="icon" type="image/png" href="<%= gravatar(theme.gravatar.email, 192) %>" sizes="192x192">
          <% } else { %>
            <link rel="icon" sizes="192x192" type="image/png" href="<%= url_for(theme.favicon.android.url) %>">
          <% } %>
        <% } %>
        <% if (theme.favicon.apple) { %>
          <% if (theme.gravatar && theme.gravatar.email && theme.favicon.apple.gravatar) { %>
            <link rel="apple-touch-icon" sizes="180x180" href="<%= gravatar(theme.gravatar.email, 180) %>">
          <% } else { %>
            <link rel="apple-touch-icon" sizes="180x180" href="<%= url_for(theme.favicon.apple.url) %>">
          <% } %>
        <% } %>
    <% } %>
    <link rel="icon" type="image/png" sizes="16x16" href="<%= url_for(theme.favicon.icon16.url) %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= url_for(theme.favicon.icon32.url) %>">
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <meta name="apple-mobile-web-app-title" content="<%= config.title %>" />
    <meta name="application-name" content="<%= config.title %>" />
    <meta name="theme-color" content="#08327d" />
    <meta name="msapplication-TileColor" content="#08327d">
    <!-- robots -->
    <% if (page.archive) { %>
      <meta name="robots" content="noindex" />
    <% } else { %>
      <meta name="robots" content="all" />
    <% } %>
    <!-- title -->
    <% if (!is_post() && is_home()) { %>
      <title><%= __('about.blog_subtitle') %> | <%= config.title %></title>
    <% } else if (!is_post()) { %>
      <title><%= __('nav.' + page_title()) %> | <%= config.title %></title>
    <% } else { %>
      <title><%= page_title() %> | <%= config.title %></title>
    <% } %>
    <!-- styles -->
    <%- css('css/style') %>
    <!-- persian styles -->
    <% if (theme.direction) { %>
      <%- css('css/rtl') %>
    <% } %>
    <!-- rss -->
    <% if (theme.rss === '' && config.feed && config.feed.path) { %>
      <% theme.rss = config.feed.path %>
    <% } %>
    <% if (theme.rss) { %>
      <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml" />
    <% } %>
    <!-- Netlify Identity Widget -->
    <% if (is_home()) { %>
      <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <% } %>
    <!-- Inline Styles -->
    <style type="text/css">
      body {
        background-color: #08327d;
        color: #fbfbfb;
      }
    </style>
</head>
